on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: 24
          cache: "pnpm"
      - run: npm install -g --force corepack && corepack enable
      - run: pnpm install
      - run: pnpm build
      - run: pnpm publish --access public --no-git-checks
